# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual Environment ---
mp_env/
venv/
.env/

# --- VS Code ---
.vscode/

# --- OS Files ---
.DS_Store
Thumbs.db

# --- Large Models ---
*.pkl

# --- Logs ---
*.log